{:source-paths ["src/cljs"]
 :aliases {:dev {:extra-paths ["src/clj" "src/cljs" "env/dev" "target"]}
           :shadow-cljs
           {:extra-deps {thheller/shadow-cljs {:mvn/version "2.10.17"}}
            :main-opts ["-m" "shadow.cljs.devtools.cli"]}},
 :deps {org.clojure/clojure {:mvn/version "RELEASE"},
        org.clojure/clojurescript {:mvn/version "RELEASE"},
        thheller/shadow-cljs {:mvn/version "2.10.17"}
        binaryage/devtools {:mvn/version "1.0.0"},
        re-frame {:mvn/version "1.0.0"}
        day8.re-frame/re-frame-10x {:mvn/version "0.7.0"}
        nubank/workspaces {:mvn/version "1.0.15"}
        re-frisk {:mvn/version "1.3.2"}
        re-posh {:mvn/version "0.3.2"}
        herb {:mvn/version "0.10.0"}
        datascript {:mvn/version "1.0.0"}
        re-frisk-remote {:mvn/version "1.3.2"}
        reagent {:mvn/version "1.0.0-alpha2"}},
 :paths ["resources" "test/cljs" "src/clj" "src/cljs"]}
